<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>816299992883-ofdu2g4d0mf5uacu0090nu699mheuf7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816299992883-ofdu2g4d0mf5uacu0090nu699mheuf7r</string>
	<key>API_KEY</key>
	<string>AIzaSyD-OR6DCLdAjlGZMNCcX3yPIFuyu3O_jyA</string>
	<key>GCM_SENDER_ID</key>
	<string>816299992883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ARtest2.ARKitHorizontalPlaneDemo</string>
	<key>PROJECT_ID</key>
	<string>ios-arkit</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-arkit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816299992883:ios:8ad41daccf60ba95</string>
	<key>DATABASE_URL</key>
	<string>https://ios-arkit.firebaseio.com</string>
</dict>
</plist>